@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #d3d3d3;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.home-banner {
  background: linear-gradient(#0006, #0008, #1D232A), url('../assets/bg.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 95vh;
  width: 100%;
}

#navbar a.active {
  color: #000c5b;
  outline: 2px;
}

#navbar a {
color: #636e82;
}

#navbar a:hover {
  color: #000c5b;
  /* border-bottom: 2px solid; */
}

#navbar a:focus {
  background: none;
  color: #000;
}
.thin-text{
font-weight: 100;
}

.pink-bg{
  position: absolute;
  width: 600px;
  height: 400px;
  border-radius: 50%;
  z-index: -9;
  filter: blur(60px);
  transform: rotate(30deg);
}